
@{
   var usuario_id= PortafolioMVC.App_Start.FronOfficeStartUp.UsuarioVisualizando();
    var usuario = new Usuario().Obtener(usuario_id);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Recursos/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Recursos/css/bootstrap-theme.min.css" rel="stylesheet" />

 
    <script src="~/Recursos/js/jquery.js"></script>
    <script src="~/Recursos/js/bootstrap.min.js"></script>



</head>
<body>
    <div>
        <!--Html.Partial es para cargar una vista sobre el layout, en este caso datos del usuario-->
        @Html.Partial("~/Views/Shared/_User.cshtml",usuario)
    </div>

    <div>
        @Html.Partial("~/Views/Shared/MenuAdicional.cshtml", usuario)
        @RenderBody();
    </div>

    
</body>
</html>