@{
    int tipo = ViewBag.tipo;
}

<div id="experiencia" class="page">

    <h1 class="page-header remove-margin">
        <a class="btn btn-primary pull-right" href="~/Admin/Experiencia/crud?tipo=@tipo">Agregar</a>
        @ViewBag.Title
    </h1>

    <div id="list">

    </div>
</div>

<script>
        $(document).ready(function () {
            $("#list").anexGrid({
                columnas: [
                    { leyenda: 'Nombre', columna: 'nombre', ordenable: true },
                    { leyenda: 'Titulo', columna: 'titulo', ordenable: true },
                    { leyenda: 'Desde', columna: 'hasta', ordenable: true },
                    { leyenda: 'Hasta', columna: 'hasta', ordenable: true },
                    {style: 'width:60px'},
                ],

                modelo:[
                    {
                        propiedad: 'nombre', formato: function (tr, obj, valor) {
                            return anexGrid_link({
                                href: '@Url.Content("~/Admin/Experiencia/Crud/")' + obj.id,
                                contenido: valor
                            });
                        }
                    },
                    { propiedad: 'titulo' },
                    {propiedad: 'desde' },
                    { propiedad: 'hasta' },
                    {
                        propiedad: 'nombre', formato: function (tr, obj, valor) {
                            return anexGrid_link({
                                href: '@Url.Content("~/Admin/Experiencia/eliminar/")' + obj.id,
                                contenido: '<i class="fa fa-trash"></i>',
                                class: 'btn btn-danger btn-xs btn-block btn-eliminar',
                            });
                        }
                    },
                ],

                url: '@Url.Content("~/Admin/Experiencia/Listar?tipo="+tipo)',
                paginable: true,
                limite: [20, 60, 100],
                columna: 'id',
                columna_orden: 'DESC'

            });

            agrid.tabla().on('click', 'btn-eliminar', function () {
                if (!confirm('¿Está seguro de eliminar este registro?')) {
                    return;
                }

                $.post($(this).attr('href'), function (r) {
                    if (r.response) agrid.refrescar();
                }, 'json')
                return false;
            })
        })
</script>
